html,body{
    margin: 0%;
    padding: 0%;
        background-color:  #F5F5F5;
   

}

header{
 background-color: #303841;
    color:#FF5722;
}
.mainInfo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.btns{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:30px;
    width: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    
}

article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.inp_btn{
    display: none;
}

.btns{
    display: none;
}
#tick:checked ~  .btns{
 display: block;

}


@media screen and (min-width: 1200px){
  .toggle_nav{
    display: none;
}  
}