 html,body{
    margin: 0%;
    padding: 0%;   
    background-color: rgb(255, 255, 255);
}

.bodyContent{
    background-color: blue;
}
.aboutC-z {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:20px;
    margin-left: 3%;

}
#intro_description{
    align-self: flex-start;
}
#uno{
    color:orangered;
    align-self: stretch;
}
#clientHeader{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
#subheader{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: rgb(223, 105, 8);
}
#actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    margin-left:2%;
    gap: 1%;
}
.moreInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    margin-left:2%;
    gap: 1%;
    background-color: whitesmoke;
}